<section id="newRelease">
			<h3 class="sect-title">L A T E S T <span id="release">R E L E A S E</span></h3>
					<div class="sect-underline"></div>
			<div class="container">
				<div class="row release-wrap">
						<div class="col-12 col-lg-6" id="hat-releaseWrap">

							<img id="odaaxoromia" src="images/oromiahat.png"/>
						</div>
							<div class="col-12 col-lg-6 ">
								<div class="text-centre">
								<h1 class="">Oromia x Odaa</h1>
							<h2 class="price">${{ product.price }} CAD</h2>
							<br>
							<h2>This hat has the combination of the
							Oromia map and the symbolic odaa 
							tree. Its official sale date will not be on 
							the website. It will first go on sale at 
							OFSNA 2017, in Minnesota.
							</h2>
							<a href="/oromia-odaa-hat">
							<button class="cart-add" type="submit">View Item <span id="addIcon">&#xf178;</span> </button>
							</a>
							</div>
						</div>
				</div>
			</div>

		</section>

		<section id="weAre-sect">
			<div class="overlay dark">
			<div id="we-textwrap">
			<h1>WE LOVE OROMIA,</h1>
			<div class="underline green-we underline-oromia"></div>
			<h1>WE LIVE FOR FASHION.</h1>
			<div class="underline green-we"></div>
			</div>
			</div>
		</section>
		
		<section id="instagramfeed">
			<h3 class="sect-title">I N S T A G R A M</h3>
					<div class="sect-underline"></div>
			<div class="container-fluid">
				<div class="row">
					<div class="row">
						<div id="instafeed"></div>
					</div>
				</div>
			</div>
		</section>
