
			<div id="menu-tabs">
				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><span id="close-x">X</span> CLOSE MENU</a>
				
					<a href="/">B I L I S U M M A A </a>
					<div class="underline" id="greyline"></div>
					<a href="/">HOME </a>
					<a href="/about/">ABOUT </a>
					<a href="/shop/">SHOP </a>

					
					
					<a href="https://instagram.com/Bilisummaa_fits" class="socialAnchor"><i id="socialNav" class="fa fa-1x fa-instagram" aria-hidden="true"></i></a>
					<a href="https://www.facebook.com/Bilisummaa.fits" class="socialAnchor" ><i id="socialNav" class="fa fa-1x fa-facebook" aria-hidden="true"></i></a>
					<a href="https://twitter.com/Bilisummaa_fits" class="socialAnchor"><i id="socialNav" class="fa fa-1x fa-twitter" aria-hidden="true"></i></a>

			</div>
			
			<!-- <div class="overlay purple"> -->
				<div class="container">
					<div class="row">
						<div id="navBar" class="col-1">
						<i id="secondary-icon" class="fa  fa-bars" onclick="openNav()" aria-hidden="true"></i> <p>MENU</p>
						</div>
						
						<a class="secondaryHome-h1 col-8 col-md-6 col-lg-8" href="/"><h1>B I L I S U M M A A</h1></a>
						<!-- <i class="fa  fa-shopping-bag col-1 shopIcon" id="secondary-icon" aria-hidden="true"></i> -->

						<div class="shopIcon col-3 col-sm-2 col-md-4 col-lg-3">

						<div class="social-desktop-header-secondary">


						<a href="https://instagram.com/Bilisummaa_fits"><i class="fa fa-1x fa-instagram socialHome top-social-secondary" aria-hidden="true"></i></a>

						<a href="https://www.facebook.com/Bilisummaa.fits" ><i class="fa fa-1x fa-facebook socialHome top-social-secondary" aria-hidden="true"></i></a>
						
						<a href="https://twitter.com/Bilisummaa_fits"><i  class="fa fa-1x fa-twitter socialHome top-social-secondary" aria-hidden="true"></i></a>

						 
						</div>
						


					 <div class="snipcart-summary">
				      		<a href="#" class="snipcart-checkout">
				        		<i class="fa fa-shopping-bag" aria-hidden="true"></i>
				      			<span class="snipcart-total-items">0</span>
				      		</a>
				    	</div>
						</div>




						<div class="underline full-width" id="blackline"></div>
				</div>
			</div>